<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dao.StudentDao">
    <!--一对多子查询
    <resultMap id="studentMap" type="Student">
        <id column="sid" property="stuId"/>
        <result column="sname" property="stuName"/>
        <result column="sage" property="stuAge"/>
        <result column="scid" property="stuCid"/>
    </resultMap>
    -->
    <!--多对一连接查询
    <resultMap id="studentMap" type="Student">
        <id column="sid" property="stuId"/>
        <result column="sname" property="stuName"/>
        <result column="sage" property="stuAge"/>
        <result column="scid" property="stuCid"/>
        <result column="cid" property="clazz.classId"/>
        <result column="cname" property="clazz.className"/>
        <result column="cdesc" property="clazz.classDesc"/>
    </resultMap>
    -->
    <!--多对一子查询
    <resultMap id="studentMap" type="Student">
        <id column="sid" property="stuId"/>
        <result column="sname" property="stuName"/>
        <result column="sage" property="stuAge"/>
        <result column="scid" property="stuCid"/>
        <association column="scid" property="clazz" select="com.dao.ClazzDao.queryClazz"/>
    </resultMap>
    -->


    <resultMap id="studentMap" type="Student">
        <id column="sid" property="stuId"/>
        <result column="sname" property="stuName"/>
        <result column="sage" property="stuAge"/>
        <result column="scid" property="stuCid"/>
        <collection  property="courses" ofType="com.pojo.Course">
            <result column="course_id" property="courseId"/>
            <result column="course_name" property="courseName"/>
        </collection>
    </resultMap>

    <select id="selectStudentByClass" resultMap="studentMap">
        select *
        from students
        where scid=#{stuCid}
    </select>
    
    <select id="queryStudent" resultMap="studentMap">
        select sid, sname, sage, scid
        from students s
        where s.scid=#{sCid}
    </select>

    <select id="queryStudentByIdAndCourse" resultMap="studentMap">
        select s.sid,sname,sage,scid,course_id,course_name
        from students s
        inner join courses c
        inner join grades g
        on s.sid = g.sid and c.course_id = g.cid
        where s.sid=#{sid}
    </select>

</mapper>
