<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<!--配置mybatis环境-->
<configuration>
    <!--配置连接使用的相关参数
          default为默认使用的环境：development 测试环境
                                product     生产环境
      -->
    <properties resource="db.properties"/>

    <environments default="mysql">
        <!--测试环境-->
        <environment id="mysql">
            <!--事务管理类型：指定事务管理的方式 JDBC-->
            <transactionManager type="JDBC"/>
            <!--数据库连接相关配置，动态获取config.properties文件里的内容-->
            <!--数据源类型：POOLED 表示支持JDBC数据源连接池
                            UNPOOLED 表示不支持数据源连接池
                            JNDI 表示支持外部数据源连接池
              -->
            <dataSource type="POOLED">
                <!--此处使用的是MySQL数据库，使用Oracle数据库时需要修改，仔细检查各项参数是否正确，里面配置了时区、编码方式、SSL，用以防止中文查询乱码，导致查询结果为null及SSL警告等问题-->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--注册mapper配置文件（mapper文件路径配置）
          注意：映射配置文件位置要和映射器位置一样，如：映射器在com.mycode.dao里，
                那么配置文件就应该在resources的com/mycode/dao目录下，否则会报
                Could not find resource com.mycode.dao.UserMapper.xml类似错误
      -->
    <mappers>
        <!--下面编写mapper映射文件↓↓↓↓↓ 参考格式：<mapper resource="dao/UserMapper.xml"/> -->

    </mappers>

</configuration>
